img{
  display: flex;
  flex-direction: row;
  width:200px;
  height:200px;

}
.container {
  flex-direction: row;
  display: flex;
  width: fixed;
 margin-top: 50px;
  justify-content: center;
}
.about-image{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 40px;
}
.about-text{

  justify-content: center;
align-items: center;
width: 400px;
}
.link{
    display: flex;
    justify-content: center;
    gap: 70px;
}
a{
  text-decoration: none;
  color: black;
}
.about-border {
  display: block;
  width: auto;
  height: 2px;
  background:rgb(206,196,196,.25);
  margin: 20px auto;

}


.about-vborder{
  display: block;
  width: 2px;
  height: 77vw;
  background:rgb(206,196,196,.25);
  margin-right: 40px;
  padding: 0;
}
.about-progress{
  
    justify-content: center;
    align-items: center;
    width: 400px;

}
progress{
  display: flex;
  width: 40vw;
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}
.about-bborder {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 0;
  border-top: 1px solid black;
  margin: 0;
  padding: 0;
  

}
@media only screen and (max-width: 750px) {
  img{
    display: flex;
    flex-direction: row;
    width:200px;
    height:200px;
  
  }
  .container {
    flex-direction: column;
    display: flex;
    width: fixed;
   margin-top: 50px;
    justify-content: center;
    align-items: center;
  }
  .about-image{
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  .about-text{
  
    justify-content: center;
  align-items: center;
  width: 600px;

  }
  .link{
      display: flex;
      justify-content: center;
      gap: 70px;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .about-border {
    display: block;
    width: auto;
    height: 2px;
    background:rgb(206,196,196,.25);
    margin: 20px auto;
  
  }
  .about-progress{
    justify-content: center;
  align-items: center;
  
  }
  .about-hborder{
    display: block;
    width: auto;
    height: 2px;
    background:rgb(206,196,196,.25);

  
  }
  .about-vborder{
    display: block;
    width: 0px;
    height: auto;
    background:rgb(206,196,196,.25);
    margin-right: 40px;
    padding: 0;
  }
}

